<app-header (updateContent)="updateContent($event)"></app-header>
<div class="content" #pRef>
  <div class="row">
    <div class="col-sm-12 padding-left-custom">
      <div class="container-title">
        <span>Cambiar Información de Usuario</span>
      </div>
    </div>
  </div>
  <div class="container-custom-form">
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          #user
          [typeComponent]="'input'"
          [typed]="'text'"
          [label]="'Usuario'"
          [placeholder]="'Ingrese su usuario'"
          [name]="'user'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
          [value]="user"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="userControl.isInvalid" class="msg-error">{{
            userControl.error
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          #email
          [typeComponent]="'input'"
          [typed]="'text'"
          [label]="'Correo'"
          [placeholder]="'Ingrese un correo'"
          [name]="'email'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
          [value]="email"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="emailControl.isInvalid" class="msg-error">{{
            emailControl.error
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          #psw
          [typeComponent]="'input'"
          [typed]="'password'"
          [label]="'Ingresa tu contraseña para verificar tu identidad'"
          [placeholder]="''"
          [name]="'psw'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="psw.isInvalid" class="msg-error">{{ psw.error }}</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-12 padding-left-custom d-flex justify-content-end">
        <button
          class="button btn btn-primary"
          matTooltip="Guardar "
          matTooltipPosition="right"
          aria-label="Button that displays a tooltip when focused or hovered over"
          (click)="save()"
        >
          <i class="far fa-save"></i><label>Guardar</label>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer #footer></app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#ffffff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
