.inline {
  display: flex;
  align-items: center;
}
.titulo {
  font-size: 20px;
  font-weight: 500;
}
.table-custom {
  width: 950px;
}
.margin-left-custom {
  margin-left: 25px;
}
.padding-left-custom {
  padding-left: 45px;
}
.btn-margin {
  margin-left: 15px;
  height: 35px;
}
.btn-margin-2 {
  margin-left: 2px;
  height: 35px;
}
btn-margin-2 {
  height: 35px;
  margin-left: 5px;
}
.container-titulo {
  margin-top: 10px;
}
.btn-custom {
  font-size: 12px;
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.toggle {
  margin-left: 10px;
}
.div-custom-icon {
  padding-top: 5px;
  padding-left: 5px;
}
.previous {
  cursor: pointer;
}
.previous:hover {
  color: #19b3d3;
}
.container-filters {
  height: 35px;
  width: 35px;
  margin-top: -20px;
  .filters {
    color: #19b3d3;
    font-size: 30px;
  }
}
.container-custom-form {
  border: 0.1px solid #000;
  border-radius: 15px;
  margin-top: 15px;
}
.custom-row {
  margin-top: -17px;
  margin-bottom: 5px;
}
.label {
  font-size: 18px;
  font-weight: 400;
  color: #19b3d3;
}
.label-2 {
  font-size: 18px;
  font-weight: 500;
  color: #19b3d3;
}
.data {
  font-size: 16px;
  color: black;
}
.margin-top-custom {
  margin-top: 25px;
}
