<app-header (updateContent)="updateContent($event)"></app-header>
<div class="content" #pRef>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-start margin-left-custom">
      <div style="width: 98%" class="inline">
        <div class="col-sm-6 d-flex">
          <div class="inline">
            <div
              class="container-titulo previous"
              (click)="previous()"
              matTooltip="Volver a listado"
              matTooltipPosition="right"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <span class="left-arrow"
                ><i class="fas fa-chevron-left"></i
              ></span>
            </div>
            <div class="container-titulo margin-left-custom">
              <span class="titulo">Activo {{ active.name }}</span>
            </div>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end">
          <div class="inline">
            <button
              class="btn btn-primary btn-margin-2"
              (click)="editDistribution()"
              matTooltip="Editar Distribución de Activo"
              matTooltipPosition="right"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i class="fas fa-boxes"></i>
            </button>
            <button
              class="btn btn-warning btn-margin"
              (click)="editActive()"
              matTooltip="Editar Activo"
              matTooltipPosition="right"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-custom-form">
    <div class="row" style="margin-top: 25px">
      <div class="col-sm-6 padding-left-custom">
        <span class="label">Cantidad: </span>
        <span class="data">{{ active.amount }}</span>
      </div>
      <div class="col-sm-6" *ngIf="active.licensePlate != ''">
        <span class="label">Placa: </span>
        <span class="data">{{ active.licensePlate }}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-sm-6 padding-left-custom">
        <span class="label">Lugar de Origen: </span>
        <span class="data">{{ active.placeOrigin }}</span>
      </div>
    </div>
    <div class="row" style="margin-top: 25px">
      <div class="col-sm-6 padding-left-custom" *ngIf="active.mark != ''">
        <span class="label">Marca: </span>
        <span class="data">{{ active.mark }}</span>
      </div>
      <div class="col-sm-6" *ngIf="active.model != ''">
        <span class="label">Modelo: </span>
        <span class="data">{{ active.model }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 padding-left-custom">
        <div class="row">
          <div class="col-sm-2 d-flex align-items-center">
            <span class="label">Estado: </span>
          </div>
          <div class="col-sm-5">
            <app-input-form
              #SelectStatus
              *ngIf="active.isLoan == 0"
              [typeComponent]="'select'"
              [typed]="'text'"
              [label]="''"
              [placeholder]="'Ingrese informacion'"
              [name]="'input4'"
              [items]="[
                { name: 'Disponible' },
                { name: 'En Préstamo' },
                { name: 'Proceso Desecho' }
              ]"
              [value]="'Disponible'"
              (updateValue)="updateE($event)"
              (click)="update()"
            ></app-input-form>
            <app-input-form
              #SelectStatus
              *ngIf="active.isLoan == 1"
              [typeComponent]="'select'"
              [typed]="'text'"
              [label]="''"
              [placeholder]="'Ingrese informacion'"
              [name]="'input4'"
              [items]="[
                { name: 'Disponible' },
                { name: 'En Préstamo' },
                { name: 'Proceso Desecho' }
              ]"
              [value]="'En Préstamo'"
              (updateValue)="updateE($event)"
            ></app-input-form>
            <app-input-form
              #SelectStatus
              *ngIf="active.isLoan == 2"
              [typeComponent]="'select'"
              [typed]="'text'"
              [label]="''"
              [placeholder]="'Ingrese informacion'"
              [name]="'input4'"
              [items]="[
                { name: 'Disponible' },
                { name: 'En Préstamo' },
                { name: 'Proceso Desecho' }
              ]"
              [value]="'Proceso Desecho'"
              (updateValue)="updateE($event)"
            ></app-input-form>
          </div>
          <div class="col-sm-3 d-flex align-items-center">
            <button
              class="btn btn-primary"
              matTooltip="Actualizar estado"
              matTooltipPosition="right"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i class="fas fa-sync" (click)="validateNewState()"></i>
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-sm-6 d-flex align-items-center"
        *ngIf="active.serie != ''"
      >
        <span class="label">Serie: </span>
        <span class="data">{{ active.serie }}</span>
      </div>
    </div>
    <div class="row" *ngIf="isLoan">
      <div class="col-sm-12 padding-left-custom">
        <span class="label-2"
          >Datos del préstamo {{ active.loan.idLoan }}
        </span>
      </div>
      <div class="col-sm-6 padding-left-custom">
        <span class="label">Prestatario: </span>
        <span class="data">{{ active.loan.name }}</span>
      </div>
      <div class="col-sm-6">
        <span class="label">Fecha de préstamo: </span>
        <span class="data">{{ active.loan.loanDate }}</span>
      </div>
    </div>
    <div class="row" [ngClass]="{ 'margin-top-custom': active.isLoan === 1 }">
      <div class="col-sm-12 padding-left-custom">
        <span class="label-2">Distribución del Activo </span>
      </div>
      <div class="col-sm-12 padding-left-custom">
        <table class="table table-striped" style="width: 80%">
          <tbody>
            <tr *ngFor="let i of areas">
              <td>
                <span class="label">Área: </span>
                <span class="data">{{ i.edifice }}, {{ i.name }}</span>
              </td>
              <td>
                <span class="label">Cantidad: </span>
                <span class="data">{{ i.amount }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="row"
      [ngClass]="{ 'margin-top-custom': active.amount != 1 }"
      style="margin-bottom: 15px"
    >
      <div class="col-sm-12 padding-left-custom">
        <span class="label">Descripción </span>
      </div>
      <div class="col-sm-12 padding-left-custom">
        <span class="data" [innerHTML]="ContDescrip"> </span>
      </div>
    </div>
  </div>
</div>
<app-footer #footer></app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#ffffff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
