<footer class="">
	<div class="container content-footer" id="footer">
		<div class="row">
			<div class="col-sm-4 d-flex justify-content-start align-items-center">
				<span class="ucr-footer-label">
					Control de Inventario
				</span>
				<br/>
				
			</div>
			<div class="col-sm-4 d-flex justify-content-center align-items-center" >
				<span class="ucr-footer-label">
					Copyright ©{{ date.getFullYear() }}
				</span>
			</div>
			<div class="col-sm-4 d-flex justify-content-end align-items-center" style="    flex-direction: column;">
				<span class="ucr-footer-label">
					Justin Villalobos Espinoza
				</span>
				<span class="ucr-footer-label">
					Práctica Profesional Supervisada
				</span>
			</div>
		</div>
	</div>
</footer>