<app-header (updateContent)="updateContent($event)"></app-header>
<div class="content" #pRef>
  <div class="row">
    <div class="col-sm-12 padding-left-custom">
      <div class="container-title"><span>Cambiar Contraseña</span></div>
    </div>
  </div>
  <div class="container-custom-form">
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          [typeComponent]="'input'"
          [typed]="'password'"
          [label]="'Contraseña Actual'"
          [placeholder]="'Ingrese la contraseña'"
          [name]="'psw'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
          [value]="password"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="psw.isInvalid" class="msg-error">{{ psw.error }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          [typeComponent]="'input'"
          [typed]="'password'"
          [label]="'Nueva Contraseña'"
          [placeholder]="'Ingrese la nueva contraseña'"
          [name]="'npsw'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="newpsw.isInvalid" class="msg-error">{{
            newpsw.error
          }}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 padding-left-custom">
        <app-input-form
          [typeComponent]="'input'"
          [typed]="'password'"
          [label]="'Repita la nueva Contraseña'"
          [placeholder]="'Ingrese la nueva contraseña'"
          [name]="'npsw2'"
          (updateValue)="updateValue($event)"
          [isRequired]="'true'"
        ></app-input-form>
        <div class="msg-error-container">
          <span *ngIf="newpsw2.isInvalid" class="msg-error">{{
            newpsw2.error
          }}</span>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px">
      <div class="col-sm-12 padding-left-custom d-flex justify-content-end">
        <button
          class="button btn btn-primary"
          matTooltip="Guardar "
          matTooltipPosition="right"
          aria-label="Button that displays a tooltip when focused or hovered over"
          (click)="save()"
        >
          <i class="far fa-save"></i><label>Guardar</label>
        </button>
      </div>
    </div>
  </div>
</div>
<app-footer #footer></app-footer>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#ffffff"
  type="ball-clip-rotate"
  [fullScreen]="true"
  ><p style="color: white">Cargando...</p></ngx-spinner
>
