.inline {
  display: flex;
  align-items: center;
}
.titulo {
  font-size: 20px;
  font-weight: 500;
}
.table-custom {
  width: 500px;
}
.margin-left-custom {
  margin-left: 25px;
}
.btn-margin {
  margin-left: 15px;
  height: 35px;
}
.container-titulo {
  margin-top: 10px;
}
.btn-danger,
.btn-warning {
  font-size: 12px;
  height: 25px;
  width: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.toggle {
  margin-left: 10px;
}
.div-custom-icon {
  padding-top: 5px;
  padding-left: 5px;
}
